@model Store 
<div class="nutrient-info">
    <ul class="Nutri-holder" style="list-style:none;">

        <li><strong>Quantity:</strong> @Model.Quantity g</li>
        <li><strong>Carbs:</strong> @Model.Carbs g</li>
        <li><strong>Proteins:</strong> @Model.Proteins g</li>
        <li><strong>Vitamins:</strong> @Model.Vitamins g</li>
        <li><strong>Minerals:</strong> @Model.Minerals g</li>
        <li><strong>Rating:</strong> @Model.Rating</li>
    </ul>
</div>
